# Default settings for the pipeline stages.
# These can be overridden in the stage settings below.

defaults:
    # Number of CPU cores to use for the task
    cores: 1
    # Maximum memory in gigabytes for a cluster job
    mem: 4
    # VLSCI account for quota
    account: UOM0040
    queue: main
    # Maximum allowed running time on the cluster in Hours:Minutes
    walltime: '00:30'
    # Load modules for running a command on the cluster.
    modules: 
        - 'SAMtools/1.3.1-vlsci_intel-2015.08.25-HTSlib-1.3.1'
    # Run on the local machine (where the pipeline is run)
    # instead of on the cluster. False means run on the cluster.
    local: False

# Stage-specific settings. These override the defaults above.
# Each stage must have a unique name. This name will be used in
# the pipeine to find the settings for the stage.

stages:
    # Align paired end FASTQ files to the reference
    align_bwa:
        cores: 1
        walltime: '00:30'
        mem: 8
        modules:
            - 'BWA/0.7.15-GCC-4.9.3'
            - 'SAMtools/1.3.1-vlsci_intel-2015.08.25-HTSlib-1.3.1'

    # run undr_rovr
    apply_undr_rover:
        walltime: '01:00'
        mem: 8
        
    # Sort the BAM file with Picard
    sort_bam_picard:
        walltime: '00:29'
        mem: 30
        modules:
            - 'Java'
    
    index_sort_bam_picard:
        walltime: '00:10'
        modules: 
            - 'SAMtools/1.3.1-vlsci_intel-2015.08.25-HTSlib-1.3.1'

    # primary alignment filer
    primary_bam:
        walltime: '00:20'
        mem: 4
        modules:
            - 'SAMtools/1.3.1-vlsci_intel-2015.08.25-HTSlib-1.3.1'

    # Clip BAM file
    clip_bam:
        cores: 1
        walltime: '00:15'
        modules:
            - 'Java'
            - 'parallel'
            - 'SAMtools/1.3.1-vlsci_intel-2015.08.25-HTSlib-1.3.1'

    # Call variants using GATK
    call_haplotypecaller_gatk:
        cores: 1
        walltime: '01:00'
        mem: 4
        modules:
            #- 'GATK/3.4-46-java-1.8.0_60'
            - 'GATK/3.6-Java-1.8.0_60'
            - 'Java'

    # Combine G.VCF files for all samples using GATK
    combine_gvcf_gatk:
        cores: 1
        walltime: '01:00'
        mem: 16
        modules:
            #- 'GATK/3.4-46-java-1.8.0_60'
            - 'GATK/3.6-Java-1.8.0_60'
            - 'Java'

    # Genotype G.VCF files using GATK
    genotype_gvcf_gatk:
        cores: 4
        walltime: '04:00'
        mem: 8
        modules:
            #- 'GATK/3.4-46-java-1.8.0_60'
            - 'GATK/3.6-Java-1.8.0_60'
            - 'Java'

    # Annotate VCF file using GATK
    variant_annotator_gatk:
        cores: 2
        walltime: '02:00'
        mem: 8
        modules:
            - 'GATK/3.6-Java-1.8.0_60'
            - 'Java'

    snp_recalibrate_gatk:
        cores: 2
        walltime: '02:00'
        mem: 16
        modules:
            - 'GATK/3.6-Java-1.8.0_60'
            - 'R-intel'
            - 'Java'

    apply_snp_recalibrate_gatk:
        cores: 2
        walltime: '02:00'
        mem: 16
        modules:
            - 'GATK/3.6-Java-1.8.0_60'
            - 'R-intel'
            - 'Java'

    apply_variant_filtration_gatk_lenient:
        cores: 2
        walltime: '02:00'
        mem: 16
        modules:
            - 'GATK/3.6-Java-1.8.0_60'
            - 'R-intel'
            - 'Java'

    target_coverage:
        walltime: '00:29'
        mem: 8
        modules:
            - 'Java'

    target_coverage_bamutil:
        walltime: '00:10'
        modules:
            - 'Java'

    target_coverage_bamutil_interval:
        walltime: '00:10'

    # Mark duplicate reads in the BAM file with Picard
    mark_duplicates_picard:
        walltime: '10:00'
        mem: 30
        modules:
            - 'picard/1.127'

    # samtools mpileup
    apply_samtools_mpileup:
        walltime: '26:29'
        modules:
            - 'SAMtools/1.3.1-vlsci_intel-2015.08.25-HTSlib-1.3.1'

    # bcftools vcf
    apply_bcftools:
        walltime: '16:50'
        modules:
            - 'BCFtools/1.3.1-vlsci_intel-2015.08.25'

    apply_vt:
        walltime: '02:50'

    apply_vep:
        walltime: '10:55'
        cores: 8
        modules:
            - 'Perl/5.20.0-vlsci_intel-2015.08.25' 

    apply_snpeff:
        walltime: '04:29'
        modules:
            - 'Java'

    apply_vcfanno:
        walltime: '03:30'

    apply_cat_vcf:
       walltime: '06:00'
       modules:
            - 'Perl/5.20.0-vlsci_intel-2015.08.25'

    apply_multicov:
       walltime: '06:00'
       modules:
            - 'BEDTools'

    apply_summarize_picard:
       walltime: '02:15'

    apply_multicov_plots:
       walltime: '03:00'
       
    apply_tabix:
       walltime: '00:10'

    apply_homopolymer_ann:
       walltime: '01:00'
       modules:
            - 'BCFtools/1.3.1-vlsci_intel-2015.08.25'
        
#
# annotation tools
#snpeff_path: /vlsci/VR0002/kmahmood/Programs/snpeff/snpEff4.3/snpEff/snpEff.jar
snpeff_path: /usr/local/easybuild/software/snpEff/4.1d-Java-1.7.0_80/snpEff.jar
snpeff_conf: /vlsci/VR0002/kmahmood/reference/snpeff/4.1/snpEff_37.config
vep_path: /vlsci/VR0002/kmahmood/Programs/vep/ensembl-tools-release-87/scripts/variant_effect_predictor/
other_vep: --dir_cache /vlsci/VR0002/kmahmood/Programs/vep/barcoo/ensembl-tools-release-87/scripts/variant_effect_predictor/data/
anno: /vlsci/VR0002/kmahmood/Programs/gemini/gemini/gemini_data/gem.conf
annolua: /vlsci/VR0002/kmahmood/Programs/gemini/data/gemini_data/custom2.lua

#other tools
vt_path: /vlsci/VR0002/kmahmood/Programs/vt/vt-0.5772/vt
bamclipper: /vlsci/UOM0040/shared/djp/bamclipper/bamclipper.sh

# hiplex files - replace with correct locations
coord_file: example.rover.txt # primer coordinates - undr_rover
primer_file: example.idt.csv # primer sequences file - undr_rover
target_bed: example.rover.bed # bedtools multicov
primer_bedpe_file: example.rover.bedpe # bamclipper
gatk_bed: example.gatk.bed # gatk

# gatk
mills_hg19: /vlsci/VR0002/kmahmood/reference/Homo_sapiens/b37/Mills_and_1000G_gold_standard.indels.b37.vcf
one_k_g_hg19_indels: /vlsci/VR0002/kmahmood/reference/Homo_sapiens/b37/1000G_phase1.indels.b37.vcf
one_k_g_snps: /vlsci/VR0002/kmahmood/reference/Homo_sapiens/b37/1000G_omni2.5.b37.vcf
one_k_g_highconf_snps: /vlsci/VR0002/kmahmood/reference/Homo_sapiens/b37/1000G_phase1.snps.high_confidence.b37.vcf
one_k_g_indels: /vlsci/VR0002/kmahmood/reference/Homo_sapiens/b37/1000G_phase1.indels.b37.vcf
hapmap: /vlsci/VR0002/kmahmood/reference/Homo_sapiens/b37/hapmap_3.3.b37.vcf
dbsnp_hg19: /vlsci/UOM0040/shared/reference/dbsnp_138.b37.vcf.gz

# undr_rover
proportionthresh: 0.3
absthresh: 10
maxvariants: 4 # max variants allowed per read

#coverdirs: /vlsci/VR0182/shared/km/hiplex/variants/undr_rover/coverdir/

# The Human Genome in FASTA format
ref_grch37: /vlsci/UOM0040/shared/reference/human_g1k_v37_decoy.fasta
hrfile: /vlsci/VR0182/shared/hiplex_test/4genes/N7_plus_hg19_210817_sorted_slop.bed.gz # Homopolymer run of length
#

# The input FASTQ files.

pipeline_id: 'hpo'

fastqs:
    - fastqs/<INSERT FASTQ HERE - file name format - sample_id_L01_R1_001.fastq
    - fastqs/<INSERT FASTQ HERE - file name format - sample_id_L01_R3_001.fastq
    - fastqs/<INSERT FASTQ HERE>
    - .... 
