# Default settings for the pipeline stages.
# These can be overridden in the stage settings below.

defaults:
    # Number of CPU cores to use for the task
    cores: 1
    # Maximum memory in gigabytes for a cluster job
    mem: 4
    # VLSCI account for quota
    account: VRXXXX
    queue: VRYYYY
    # Maximum allowed running time on the cluster in Hours:Minutes
    walltime: '1:00'
    # Load modules for running a command on the cluster.
    modules:
    # Run on the local machine (where the pipeline is run)
    # instead of on the cluster. False means run on the cluster.
    local: False

# Stage-specific settings. These override the defaults above.
# Each stage must have a unique name. This name will be used in
# the pipeine to find the settings for the stage.

stages:
    # Align paired end FASTQ files to the reference
    align_bwa:
        cores: 8
        walltime: '8:00'
        mem: 32
        modules:
            - 'bwa-intel/0.7.12'
            - 'samtools-intel/1.1'

    # Sort the BAM file with Picard
    sort_bam_picard:
        walltime: '10:00'
        mem: 30
        modules:
            - 'picard/1.127'

    # Mark duplicate reads in the BAM file with Picard
    mark_duplicates_picard:
        walltime: '10:00'
        mem: 30
        modules:
            - 'picard/1.127'

    # Generate chromosome intervals using GATK
    chrom_intervals_gatk:
        cores: 8
        walltime: '10:00'
        mem: 30
        modules:
            - 'gatk/3.4-46'

    # Local realignment using GATK
    local_realignment_gatk:
        walltime: '10:00'
        mem: 30
        modules:
            - 'gatk/3.4-46'

    # Local realignment using GATK
    base_recalibration_gatk:
        walltime: '10:00'
        mem: 30
        modules:
            - 'gatk/3.4-46'

    # Print reads using GATK
    print_reads_gatk:
        walltime: '10:00'
        mem: 30
        modules:
            - 'gatk/3.4-46'

    # Call variants using GATK
    call_variants_gatk:
        cores: 8
        walltime: '10:00'
        mem: 30
        modules:
            - 'gatk/3.4-46'

    # Combine G.VCF files for all samples using GATK
    combine_gvcf_gatk:
        cores: 1
        walltime: '10:00'
        mem: 30
        modules:
            - 'gatk/3.4-46'

    # Genotype G.VCF files using GATK
    genotype_gvcf_gatk:
        cores: 8
        walltime: '10:00'
        mem: 30
        modules:
            - 'gatk/3.4-46'

    # SNP recalibration using GATK
    snp_recalibrate_gatk:
        cores: 8
        walltime: '10:00'
        mem: 30
        modules:
            - 'gatk/3.4-46'

    # INDEL recalibration using GATK
    indel_recalibrate_gatk:
        cores: 8
        walltime: '10:00'
        mem: 30
        modules:
            - 'gatk/3.4-46'

    # Apply SNP recalibration using GATK
    apply_snp_recalibrate_gatk:
        cores: 8
        walltime: '10:00'
        mem: 30
        modules:
            - 'gatk/3.4-46'

    # Apply INDEL recalibration using GATK
    apply_indel_recalibrate_gatk:
        cores: 8
        walltime: '10:00'
        mem: 30 
        modules:
            - 'gatk/3.4-46'

    # Combine variants using GATK
    combine_variants_gatk:
        cores: 8
        walltime: '10:00'
        mem: 30
        modules:
            - 'gatk/3.4-46'

    # Select variants using GATK
    select_variants_gatk:
        cores: 8
        walltime: '10:00'
        mem: 30
        modules:
            - 'gatk/3.4-46'

mills_grch37: reference/Mills_and_1000G_gold_standard.indels.b37.vcf
one_k_g_grch37_indels: reference/1000G_phase1.indels.b37.vcf
one_k_g_snps: reference/1000G_omni2.5.b37.vcf
one_k_g_highconf_snps: reference/1000G_phase1.snps.high_confidence.b37.vcf
one_k_g_indels: reference/1000G_phase1.indels.b37.vcf
hapmap: reference/hapmap_3.3.b37.vcf
interval_grch37: reference/Broad.human.exome.b37.interval_list
dbsnp_grch37: reference/dbsnp_138.b37.vcf
CEU_mergeGvcf: reference/CEU_mergeGvcf.vcf
FIN_mergeGvcf: reference/FIN_mergeGvcf.vcf
GBR_mergeGvcf: reference/GBR_mergeGvcf.vcf

# The Human Genome in FASTA format.

ref_grch37: reference/human_g1k_v37_decoy.fasta

# The input FASTQ files.

fastqs:
   - fastqs/sample1_R1.fastq.gz
   - fastqs/sample1_R2.fastq.gz
   - fastqs/sample2_R1.fastq.gz
   - fastqs/sample2_R2.fastq.gz
